

body{
 margin: 0;
 padding: 0; 
 color: #333; 
 font-size: 15px;
 line-height: 1.5;
 background: #ffffff !important;
}

.cleared{
 clear: both;
}

input:focus{
 outline:none; 
}

.imgauto{
 max-width: 1200px;
 height: auto;
 width: auto\9; /* ie8 */
 border: 0;
}

.top-container{
 padding: 0px 0px 20px 0px;
}

.top-bar{
 font-size: 18px;
}

.top-bar a{
 margin-right: 0px;
 color: #333;
 text-decoration: none;
}

a{
 outline: 0;
}


.head-slides
{ 
 background-repeat: no-repeat;
 background-position: top center;
 max-width: 1200px;
 max-height: 480px;

 margin:0 auto;
}

.front-slides{ 
 background-repeat: no-repeat;
 background-position: top center;;
 max-width: 1200px;
 max-height: 480px;

 margin:0 auto;

}

.header-text{
 color: #fff;
 text-align: center; 
}


.newcontent{
 text-align: center;
 font-size: 22px;
 letter-spacing: 1px;
 font-family:'EB Garamond';
}

.newcontent h1, .newcontent h2{
 margin: 0;
 text-align: center;
 font-weight: normal;
}

.newcontent h1{
 color: #29a3a9;
 font-size: 40px;
 line-height: 1;
}
/* make h1's on directory pages JE */
.page-template-directory-pages h1
{
text-align:left;	
}

.newcontent h2{
 color: #5c8235;
 font-size: 30px;
}

.main-headings{
 display: block;
 text-align: center;
 margin: 50px 0px;
}

.main-headings span{
 font-family: 'Ubuntu';
 font-weight: bold;
 text-transform: uppercase;
 font-size: 40px;
 color: #000000;
 padding: 10px 0px;
 border-top: 4px solid #000;
 border-bottom: 4px solid #000;  
}

.h1s{
 font-weight: bold;
 text-transform: uppercase;
 font-size: 28px;
 color: #000000;
}

.h-names{
 font-size: 20px;
 padding-top: 20px;
 font-family:'EB Garamond' !important;
}

.h1s-blue{
 font-weight: bold;
 text-transform: uppercase;
 font-size: 28px;
 color: #0070c0;
}

.ReadMore{
 text-align: center;
 text-transform: uppercase;
 color: #ffc000 !important;
 width: 200px;
 height: 65px;
 display: block;
 border: 2px solid #ffc000;
 line-height: 65px;
 text-decoration: none;
 margin: 0 auto;
 transition: ease-in-out all .2s;
 -moz-transition: ease-in-out all .2s;
 -webkit-transition: ease-in-out all .2s;
}

.ReadMore:hover{
 color: #29a3a9 !important;
 border: 2px solid #29a3a9;
 transition: ease-in-out all .2s;
 -moz-transition: ease-in-out all .2s;
 -webkit-transition: ease-in-out all .2s;
}

.newcontent hr{
 width: 80%;
 height: 1px;
 display: block;
 border: 0;
 background: #dfdfdf;
 margin: 60px 0px;
}

.mypage-blogs{
 
}

.p-quotes{
 font-style: italic; 
 color: #898989; 
}






.TryNow{
 text-align: center;
 text-transform: uppercase;
 color: #fff !important;
 width: 220px;
 height: 65px;
 padding: 24px;
 /*display: block;*/
 background: #ed7d31;
 line-height: 65px;
 text-decoration: none;
 margin: 0 auto;
 transition: ease-in-out all .2s;
 -moz-transition: ease-in-out all .2s;
 -webkit-transition: ease-in-out all .2s;
}

.TryNow:hover{
 background: #29a3a9 !important; 
 transition: ease-in-out all .2s;
 -moz-transition: ease-in-out all .2s;
 -webkit-transition: ease-in-out all .2s;
}

.header-text h1 span{
 color: #4c4c4c;
}

.left-just{
 text-align: left;
}

.half-content ul{
 padding-bottom: 25px;
}

.thefrm-wraps{
 display: block;
 width: 100%;
 border: 1px solid #7f7f7f;
}

.thefrm-forms{
 padding: 30px;
}

.thefrm-title{
 background-position: middle left;
 background-repeat: no-repeat; 
 height: 61px;
 display: block;
 text-align: left;
 margin: 20px auto;
}

.thefrm-title span{
 display: block;
 line-height: 61px;
 color: #ed7d31;
 font-weight: bold;
 font-size: 34px;
 padding-left: 70px;
}

.ftitle-login{
 background-image: url('custom-imgs/login-frm.png'); 
 width: 280px;
}

.ftitle-register{
 background-image: url('custom-imgs/register-frm.png'); 
 width: 310px;
}

.thefrm-forms form{
 display: block; 
 width: 100%;
}

.thefrm-forms form input[type=text]{
 background: #7f7f7f;
 border: 0;
 color: #fff;
 padding: 20px;
 display: block;
 width: 90%;
 margin: 0px auto;
 margin-bottom: 20px;
 font-size: 18px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

.thefrm-forms form input[type=submit]{
 background: #29a3a9;
 border: 0;
 color: #fff;
 padding: 20px;
 font-size: 18px;
 font-weight: bold;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 float: right;
 cursor: pointer;
 transition: ease-in-out all .2s;
 -moz-transition: ease-in-out all .2s;
 -webkit-transition: ease-in-out all .2s;
}

.thefrm-forms form input[type=submit]:hover{
 background: #ed7d31;
 transition: ease-in-out all .2s;
 -moz-transition: ease-in-out all .2s;
 -webkit-transition: ease-in-out all .2s;
}


/*JE OVER RIDES */
/* BOOTSTRAP OVER RIDES */
div.container
{
padding-left: 0px !important;
padding-right:0px !important;	
}

.page-id-17450 .h1s
{
    font-family: 'Ubuntu'!important;
    font-size: 12px!important;
    font-style: normal!important;
    font-weight: 700!important;
}

.page-id-17423 .h1s
{
    font-family: 'Ubuntu'!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 700!important;
}
.page-id-17237 .h1s, .page-id-17239 .h1s
{
    font-family: 'Ubuntu'!important;
    font-size: 12px!important;
    font-style: normal!important;
    font-weight: 700!important;
}

.page-id-17423 .half-content 
{
   
    font-size: 20px;
}

.hbsbt-form .hs-button
{
	
font-family: 'Ubuntu'!important;
}